/* BASIC STYLES HERE */
label {
  display: block;
}

ul {
  list-style-type: none;
}

input [type=text] {
  border: red;
  border-radius: 5px;
  background: none;

}

::placeholder {
  color: lightgray;
  opacity: 1;
}

#home-content {
  height: 100dvh;
}

#jot-list {
  height: auto;
}

#test-form {
  height: 100dvh;
}

#active-jot-editor {
  margin: 25% auto;
  padding: 20px;
  width: 60%;
  opacity: 80%;
}

#editor-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#body-card {
  background-color: transparent;
  border-radius: 20px;
  border: 2px whitesmoke solid;
}

textarea {
  background-color: transparent;
  color: whitesmoke;

}