<div class="container-fluid">
  <div class="row bg-dark py-3">
    <p class="fs-3 align-items-center">
      <!-- Jot about it -->
    </p>
  </div>

  <div class="row bg-primary p-5">
    <button class="btn btn-info w-25" onclick="app.JotsController.createNewJot('this is like a note')">Create
      New</button>
  </div>

  <div class="col-8 mt-3 p-3">
    <form onsubmit="app.JotsController.setNewJotTitle('jot title from form')">
      <label for="jotTitle">Title of New Jot</label>
      <input type="text" name="jotTitle" id="jotTitle" class="form-control">
    </form>
  </div>



</div>